<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.number_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :NAME %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :PHONE %>
    <%= form.number_field :telefone %>
  </div>

  <div class="actions">
    <%= form.submit value='submit'%>
  </div>
<% end %>
