<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
<p id="notice"><%= notice %></p>
<h1> LOJA IMPÉRIO </h1>

<% if current_user %>
  <h5> CUSTOMER </h5>
  <%= link_to ' New customer ', new_cliente_path %> 

  </br>
  <h5> PRODUCT </h5>
  <%= link_to ' New product ', new_produto_path %>

  </br>
  <h5> SALE </h5>
  <%= link_to ' New sale ', new_venda_path %>

  </br>
  <h5> USER </h5>
  <%= link_to 'Show User', @current_user %>

<% else %>
  You need to login to gain access.
<% end %>