<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :subcategory  %>
    <%= form.text_field :subcategoria %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :tamanho %>
  </div>

  <div class="actions">
    <%= form.submit value='submit'%>
  </div>
<% end %>
