<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Category:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @produto.subcategoria %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @produto.valor %>
</p>

<p>
  <strong>Size:</strong>
  <%= @produto.tamanho %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
