<%= form_with(model: venda, local: true) do |form| %>
  <% if venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
        <% venda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Total_Price %>
    <%= form.text_field :valorTotal %>
  </div> <br />

  <div class="field">
    <%= form.label :Id_Product %>
    <%= form.text_field :produto_id %>
  </div> <br />

  <div class="field">
    <%= form.label :Id_Costumer %>
    <%= form.text_field :cliente_id %>
  </div>

  <br />
  <div class="actions">
    <%= form.submit value='submit' %>
  </div>
<% end %>
